# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
bower_components/
jspm_packages/

# Output of 'npm pack'
*.tgz

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency files
package-lock.json
yarn.lock

# dotenv environment variables file
.env
