<%- include('../components/head.ejs', { title, cssPath }) %> 
<body>
    <h1><%= message %></h1>
    <p>This is the home page of our website where you can find information about our students and their achievements.</p>
    <a href="/students">Meet Our Students</a>
</body>
</html>
